.contenedorHijo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.parallax {
    background-image: url(../assets/img/index.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    padding: 0%;
    margin: 0%; 
}

.buscadorTitulo {
    color: #FFF;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px black;
    
}

.selectCaja {
color: #000;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
border-radius: 2px;
margin: 5px;
height: 42px;
padding: 0 8px;
outline: none;
}

button {
    background-color: rgba(247, 46, 196, 0.94);
    width: 150px;
 }  

.contenedor_destacados {
    background: rgba(199, 199, 199, 0.644);
    padding: 30px 0 40px;
    margin-top: 50px;
}

.destacadas {
    width: 90%;
    margin: 0 auto;
}

.card-img-top {
    height: 300px;
}

.titulo {
    margin: 30px;
    text-align: center;
}

.contenedorSimulador {
    background-color: #868B8E;
    color: #FFF;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.contSimHijo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contSim {
margin: 9px;
height: 42px;
padding: 0 8px;
}

.simuladorTitulo {
    text-shadow: 2px 2px 2px black;
}