header {
    background: rgba(250, 249, 249, 0);
    width: 100%;
    position: absolute;
    z-index: 5
  }

.logo {
    width: 200px;
    margin: 25px 50px;
}

.nav_flex {
   display: flex; 
   .navbar {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    }    
}

#ContPropiedades {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
